# Ignore Windows Explorer Links to other objects of file sysetms.
*.lnk

# Ignore Windows Explorer temp. files
Thumbs.db

# Ignore MS Office temp. files
~$*
~WRD*.tmp
~WRL*.tmp

# Reinclude verson-subdirs for the case they have been excluded by a global rule, before
!V3.0
!V3.1
#!V3.1.1
!V3.2
